.container{
	padding:10px;
}

div .well{
	border: 2px solid deepskyblue;
	background-color:white;
	padding:0px;

}

div #tiptop{
	text-align:center;
	background-color:deepskyblue;
}

div h2{	
	color:white;
	font-weight:bold;
	margin-top:0px;
	padding:10px;
}

.field{
	text-align:center;
	width: 75%;
	margin-auto:0;
}

#people, #tip, #add, #sub, #sub2, #add2{
	font-size:20px;
}

#bill{
	width:90%;
	border-radius: 5px;
	font-size:20px;
	margin-left:10px
}

.inputLabel{
	
	color:gray;
	text-align:left;
	margin-top:10px;
	margin-left:25px;
	margin-bottom:0px;
	font-size:20px;
}

#sub, #sub2{
	margin-left: 10px;
}
.tipPerHead{
	display:inline-block;
}

td{
	width:100px;
}

td h3{
	margin:0px;
	text-align:left;
	margin-left:55px;
}

	
}
.perPerson p{
	margin:0px
}

div{
	text-align:center;
}

#calculate{
	margin: 10px;
}

.bold{
	font-weight:bold;
}

h3{
	text-align:center;
}

.perPerson{
	width:50%;
}

#totalPerPerson, #tipPerPerson{
	font-weight:bold;
	font-size:30px;
}